.form-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  color: black;
  background-color: yellowgreen;
}
.title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 4rem;
  background-color: yellowgreen;
  margin: 0 100px;
}
ul {
  display: inline-block;
}
ul,
li,
.input-one {
  font-size: 2rem;
}
.btn {
  position: relative;
  top: -6.2px;
  background-color: coral;
  width: 100px;
  height: 44px;
  border: none;
  border-radius: 3px;
  margin-left: 10px;
  font-size: 1rem;
}
