.nav {
  color: black;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 5px 10px 5px 10px;
}
.brand-logo {
  font-size: 1.5rem;
}
.brand-logo,
ul {
  position: relative;
  top: 40px;
}
.nav > ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 20px;
}
.nav > ul > li {
  margin: 0 10px;
}
